.nav {
    background: #fff;

    nav {
        z-index: 999;
        position: relative;
        margin: 20px 0;
        @include flex(center, space-between);

        .menu {
            @include flex(center, center);
            gap: 30px;
            list-style: none;

            li {
                position: relative;
                padding: 15px 0;

                a {
                    text-decoration: none;
                    color: $text-black;
                    transition: $transition;
                    font-size: 16px;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            li.dropdown {
                @extend .dropdown;
            }
        }

        .menu-icon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: none;

            i {
                font-size: 35px;
            }
        }

        button {
            @extend .button;
        }
    }
}

.about {
    background: $pink;

    .about-wrapper {
        @include flex(center, center);
        gap: 20px;

        .about-text {
            width: 50%;
            @include flex;
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    font-size: 60px;
                    line-height: 70px;

                    span {
                        font-size: 60px;
                        color: $primary-color;
                        font-weight: 600;
                        overflow: hidden;
                        border-right: solid 2px #000;
                    }
                }

            }

            p {
                color: $paragraph;
                font-size: 18px;
            }

            button {
                @extend .button;
            }
        }

        .about-img {
            position: relative;
            width: 50%;

            img {
                width: 100%;
                height: auto;
            }

            .shape {
                z-index: -1;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                top: 20px;
                transition: $transition;
                animation: shape 2s ease-in-out infinite;
            }

            @keyframes shape {
                0% {
                    top: 20px;
                    left: 50%;
                }

                50% {
                    top: 0;
                    left: calc(50% - 20px);
                }

                100% {
                    top: 20px;
                    left: 50%;
                }
            }
        }
    }
}

.info {
    margin-top: 100px;

    .info-box {
        @include flex(center, center);
        gap: 50px;
    }

    .image {
        position: relative;
        width: 50%;

        img {
            width: 100%;
            height: auto;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            top: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
            transition: $transition;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .text {
        width: 50%;
        @include flex;
        flex-direction: column;
        gap: 20px;

        .work {
            @include flex(center);
            gap: 10px;

            span {
                color: $paragraph;
                font-size: 18px;
            }
        }

        .info-text {
            h1 {
                font-size: 60px;
                line-height: 70px;

                span {
                    font-size: 60px;
                    color: $primary-color;
                    font-weight: 600;
                    overflow: hidden;
                    border-right: solid 2px #000;
                }
            }

        }

        p {
            color: $paragraph;
            font-size: 18px;
        }

        .about-text {
            margin-top: 20px;
            @include grid(2);
            gap: 20px;

            .top {
                @include flex(center, center);
                gap: 20px;

                .right {
                    @include flex;
                    flex-direction: column;

                    h2 {
                        color: $primary-color;
                    }

                    span {
                        color: $text-black;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }

        .checkboxs {
            margin-top: 20px;
            @include grid(2);
            gap: 20px;

            .check {
                @include flex(center);
                gap: 10px;

                i {
                    color: $primary-color;
                    font-size: 25px;
                }

                span {
                    color: $paragraph;
                }
            }
        }

        button {
            margin-top: 20px;
            @extend .button;
        }
    }
}

.service {
    margin-top: 100px;

    .service-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .card-list {
            @include grid(4);
            gap: 20px;
            padding: 20px;

            .card {
                @include flex(center, center);
                gap: 10px;
                flex-direction: column;
                padding: 50px 20px;
                border: solid 1px rgba(0, 0, 0, .2);
                border-radius: 8px;
                transition: $transition;

                h2 {
                    font-weight: 500;
                    text-align: center;
                }

                p {
                    text-align: center;
                    color: $paragraph;
                }

                &:hover {
                    background: $pink;
                }
            }
        }
    }
}

.resume {
    margin-top: 100px;
    background: $pink;
    padding-top: 30px;

    .resume-wrapper {
        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .box {
            padding: 10px;
            min-height: 100vh;
            @include flex(center, center);
            gap: 20px;

            .line-div {
                @include flex(center, center);
                width: 40%;

                .line {
                    @include flex(flex-start, space-around);
                    flex-direction: column;
                    min-height: 110vh;
                    border-left: solid 2px $paragraph;
                    padding-left: 19px;

                    span {
                        position: relative;
                        font-size: 22px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: -30px;
                            width: 20px;
                            height: 20px;
                            transform: translateY(-50%);
                            background: $primary-color;
                            border-radius: 999px;
                        }
                    }
                }
            }

            .my-resume {
                @include flex(center, center);
                flex-direction: column;
                gap: 20px;

                .box-item {
                    width: 100%;
                    background: #ffffff;
                    border-radius: 8px;
                    padding: 30px;
                    @include flex(center, space-between);

                    h2 {
                        font-weight: 500;
                    }

                    p {
                        color: $paragraph;
                    }

                    .item {
                        padding: 20px;
                        width: 33%;
                    }

                    .item:not(:last-child) {
                        border-right: solid 1px $paragraph;
                    }

                    .skills {
                        @include flex(center, flex-start);
                        gap: 10px;

                        span {
                            font-size: 18px;
                        }

                        span:nth-child(2) {
                            width: 50px;
                            height: 1px;
                            background: $paragraph;
                        }
                    }
                }
            }
        }
    }
}

.testimonial {
    margin-top: 100px;

    .testimonial-wrapper {
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .slider {
            width: 100%;
            @include flex(center, center);
            gap: 20px;

            .slide {
                width: 500px;
                padding: 20px;
                @include flex;
                gap: 20px;
                flex-direction: column;

                .top {
                    @include flex(center, center);
                    gap: 20px;

                    .other {
                        span {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }

                .bottom {
                    p {
                        color: $paragraph;
                    }
                }
            }
        }
    }
}

.portfolio {
    margin-top: 100px;

    .portfolio-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .portfolio-menu {
            @include flex(center, center);
            flex-wrap: wrap;
            gap: 50px;
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: $text-black;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 50%;
                        transform: translate(-50%);
                        width: 50%;
                        height: 2px;
                        border-radius: 50px;
                        background: $primary-color;
                        opacity: 0;
                    }

                    &:hover::after {
                        opacity: 1;
                    }

                    &.active::after {
                        opacity: 1;
                    }
                }
            }
        }

        .portfolio-grid {
            width: 100%;
            // min-height: 100vh;
            @include grid(3);
            padding: 20px;
            gap: 20px;

            .grid-item {
                overflow: hidden;
                position: relative;

                .image {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                .overlay {
                    z-index: 1;
                    position: absolute;
                    left: 0;
                    background: $primary-color;
                    padding: 20px;
                    border-radius: 10px;
                    left: 50%;
                    transform: translate(-50%);
                    bottom: -150px;
                    transition: $transition;
                    @include flex;
                    flex-direction: column;
                    width: 80%;
                    color: $text-white;

                    p {
                        font-family: 600;
                        font-size: 20px;
                    }
                }

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .5);
                    position: absolute;
                    border-radius: 10px;
                    top: -1000px;
                    left: 0;
                    transition: $transition;
                }

                &:hover::after {
                    top: 0;
                }

                &:hover .overlay {
                    bottom: 10px;
                }
            }

            .item-8 {
                grid-column: 2 / 4;
            }
        }
    }
}

.partners {
    margin-top: 100px;

    .partners-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .slider {
            width: 100%;
            @include flex(center, center);
            gap: 100px;

            .slide {
                @include flex(center, center);
                border: solid 1px $paragraph;
                width: 120px;
                height: 120px;
                border-radius: 10px;

                img {
                    transition: $transition;
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.blog {
    margin-top: 100px;

    .blog-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .card-list {
            @include grid(3);
            padding: 20px;
            gap: 20px;

            .card {
                border: solid 1px $paragraph;
                border-radius: 10px;

                .image {
                    width: 100%;
                    position: relative;

                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: auto;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 98%;
                        background: rgba(0, 0, 0, .5);
                        opacity: 0;
                        border-radius: 10px;
                        transition: $transition;
                    }

                    &:hover::after {
                        opacity: 1;
                    }
                }

                .text {
                    @include flex(flex-start, space-between);
                    flex-direction: column;
                    gap: 50px;
                    padding: 20px;

                    h1 {
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    a {
                        font-size: 20px;
                        color: $primary-color;
                        text-decoration: none;
                        font-weight: 600;
                        @include flex(center);

                        i {
                            font-size: 25px;
                            transition: $transition;
                        }

                        &:hover i {
                            transform: translate(10px);
                        }
                    }
                }
            }
        }
    }
}

.contact {
    margin-top: 100px;

    .contact-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .title {
            width: 100%;
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;

            .work {
                @include flex(center);
                gap: 10px;

                span {
                    color: $paragraph;
                    font-size: 18px;
                }
            }

            .info-text {
                h1 {
                    text-align: center;
                    font-size: 60px;
                }

            }
        }

        .box {
            width: 100%;
            @include flex(center, center);
            gap: 50px;

            .input {
                height: 60vh;
                width: 50%;
                @include flex(center, center);
                flex-direction: column;
                gap: 20px;

                .input-box {
                    width: 100%;
                    @include grid(2);
                    gap: 20px;

                    input {
                        width: 100%;
                        border: solid 1px $paragraph;
                        font-size: 18px;
                        padding: 10px 20px;
                        outline: none;
                        border-radius: 10px;
                    }
                }

                textarea {
                    width: 100%;
                    border: solid 1px $paragraph;
                    font-size: 18px;
                    padding: 10px 20px;
                    outline: none;
                    border-radius: 10px;
                    resize: vertical;
                }

                .send {
                    width: 100%;

                    button {
                        @extend .button;
                    }
                }

            }

            .address {
                width: 50%;
                @include flex(flex-start, center);
                flex-direction: column;
                gap: 50px;
                padding-bottom: 50px;

                .icon {
                    @include flex(center, center);
                    gap: 10px;

                    i {
                        font-size: 30px;
                        background: rgba($color: orange, $alpha: .3);
                        width: 50px;
                        height: 50px;
                        color: $primary-color;
                        border-radius: 10px;
                        @include flex(center, center);
                    }

                    .text {
                        font-size: 20px;
                    }
                }
            }
        }

    }
}

footer {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    background: #252525;

    .footer {
        min-height: 100vh;

        .top {
            min-height: 100vh;
            @include flex(center, center);
            flex-wrap: wrap;
            gap: 50px;

            .box {
                @include flex(flex-start, center);
                flex-direction: column;
                gap: 20px;
                width: 20%;

                p,
                h2 {
                    color: $text-white;
                }

                a {
                    text-decoration: none;
                    color: $text-white;
                    transition: $transition;

                    &:hover {
                        color: $primary-color;
                    }
                }

                .links {
                    @include flex(center);
                    gap: 10px;

                    i {
                        font-size: 30px;
                        color: $text-white;
                        background: $primary-color;
                        width: 50px;
                        height: 50px;
                        @include flex(center, center);
                        border-radius: 10px;
                        transition: $transition;
                        cursor: pointer;
                        border-top: solid 4px $primary-color;
                        border-right: solid 4px $primary-color;

                        &:hover {
                            background: #fff;
                            color: $primary-color;
                        }
                    }
                }

                .icon {
                    margin-top: 20px;
                    @include flex(center, center);
                    gap: 10px;
                    color: $text-white;
                    font-weight: 600;

                    i {
                        font-size: 25px;
                        color: $primary-color;
                    }
                }
            }
        }


    }
}

.bottom {
    border-top: solid 2px #fff;
    background: #252525;
    padding: 20px 0;

    .bottom-wrapper {
        @include flex(center, space-between);
        color: #fff;

        a {
            text-decoration: none;
            color: $text-white;
            transition: $transition;
            margin-left: 50px;

            &:hover {
                color: $primary-color;
            }
        }
    }

}


@media(max-width: 991px) {
    .about {
        .about-wrapper {
            flex-direction: column-reverse;

            .about-text {
                width: 100%;
            }

            .about-img {
                width: 100%;
            }
        }
    }

    .info {
        .info-box {
            flex-direction: column;

            .image {
                width: 80%;
            }

            .text {
                width: 80%;
            }
        }
    }

    .service {
        .service-wrapper {
            .card-list {
                @include grid(2);
            }
        }
    }

    .resume {
        .resume-wrapper {
            .box {
                .line-div {
                    display: none;
                }

                .my-resume {
                    width: 100%;

                    .box-item {
                        width: 100%;
                        flex-direction: column;

                        .item {
                            width: 100%;

                            h2 {
                                width: 100%;
                            }
                        }

                        .item:first-child {
                            border-right: none;
                        }

                        .item:nth-child(2) {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    .testimonial {
        .testimonial-wrapper {
            .slider {
                .slide:last-child {
                    display: none;
                }
            }
        }
    }

    .portfolio {
        .portfolio-wrapper {
            .portfolio-grid {
                @include grid(2);

                .item-8 {
                    grid-column: 2 / 3;
                }
            }
        }
    }

    .partners {
        .partners-wrapper {
            .slider {
                .slide {
                    width: 33%;
                }

                .slide:nth-child(4),
                .slide:nth-child(5),
                .slide:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .nav {
        nav {
            .menu {
                display: none;
            }

            .contact-btn {
                display: none;
            }

            .menu-icon {
                display: inline;
            }
        }
    }

    .contact {
        .contact-wrapper {
            .box {
                flex-direction: column;

                .input,
                .address {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .info {
        .info-box {
            .text {
                .about-text {
                    @include grid(1);
                }

                .checkboxs {
                    @include grid(1);
                }
            }
        }
    }

    .service {
        .service-wrapper {
            .card-list {
                @include grid(1);

                .item-8 {
                    grid-column: 2/ 3;
                }
            }
        }
    }

    .testimonial {
        .testimonial-wrapper {
            .slider {
                .slide:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .portfolio {
        .portfolio-wrapper {
            .portfolio-grid {
                @include grid(1);
            }
        }
    }

    .partners {
        .partners-wrapper {
            .slider {
                .slide {
                    width: 100%;
                }

                .slide:nth-child(2),
                .slide:nth-child(3),
                .slide:nth-child(4),
                .slide:nth-child(5),
                .slide:nth-child(6) {
                    display: none;
                }
            }
        }
    }

    .blog {
        .blog-wrapper {
            .card-list {
                @include grid(1);
            }
        }
    }

    .contact {
        .contact-wrapper {
            .box {
                .input {
                    .input-box {
                        @include grid(1);
                    }
                }
            }
        }
    }
}