$primary-color: #ff6b00;
$paragraph: #606060;
$text-white: #fff;
$text-black: #000;
$pink: linear-gradient( 256.24deg, rgba(255, 195, 152, 0.2) 26.56%, rgba(255, 234, 190, 0.3) 100% );

$transition: all .5s ease;